terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/*.tfplan

extract/__pycache__/
extract/.venv/
.venv
*.pyc
*.user.yml
dbt/target

.env
*.pem

.DS_Store

logs/*
!logs/.gitkeep
plugins/*
!plugins/.gitkeep
*.log